[submodule "ignite-nodejs-mod1"]
	path = ignite-nodejs-mod1
	url = https://github.com/jeffsouza01/ignite-nodejs-mod1
[submodule "ignite-nodejs-solid"]
	path = ignite-nodejs-solid
	url = https://github.com/jeffsouza01/ignite-nodejs-solid
[submodule "ignite-nodejs-middleware"]
	path = ignite-nodejs-middleware
	url = https://github.com/jeffsouza01/ignite-nodejs-middleware
[submodule "ignite-nodejs-verify-code"]
	path = ignite-nodejs-verify-code
	url = https://github.com/jeffsouza01/ignite-nodejs-verify-code
